.card {
    width: 100%;
    display: flex;
    border: 1px solid var(--accent-border);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.foto {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.nombre {
    font-size: 1.25rem;
    margin: 0.5rem;
}