.contador {
    width: max-content;
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
}

.btn {
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    transition: var(--transition);
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }
}