.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 24rem;
    border: 1px solid var(--accent-border);
    border-top: 5px solid var(--accent);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 3rem auto;

    & h3 {
        color: var(--accent);
        margin-inline: auto;
    }

    & div {
        width: 100%;
        text-align: left;

        & label {
            display: flex;
            margin-bottom: 0.25rem;
        }

        & input:not([type="file"], [type="checkbox"]) {
            height: 2rem;
            width: 100%;
            background-color: var(--accent-bg);
            border: none;
            border-radius: 0.25rem;
            text-indent: 0.5rem;
        }

        input[type="file"] {
            font-size: 0.875rem;
            color: var(--accent);
        }

        input[type="file"]::file-selector-button {
            font-size: 0.775rem;
            font-weight: 400;
            color: var(--bg);
            border: none;
            border-radius: 0.25rem;
            color: white;
            background-color: var(--accent-border);
            padding: 0.375rem 0.75rem;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: var(--transition);
        }

        input[type="file"]::file-selector-button:hover {
            filter: brightness(1.3);
        }

        & textarea {
            font-family: inherit;
            height: 4rem;
            width: 100%;
            background-color: var(--accent-bg);
            border: none;
            border-radius: 0.25rem;
            text-indent: 0.5rem;
        }

        & input[type="checkbox"] {
            width: 1rem;
            height: 1rem;
            accent-color: var(--accent);
        }
    }

    & .checkbox {
        display: inline-flex;
        gap: 0.5rem;
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
}

.btnGuardar {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg);
    border: none;
    border-radius: 0.25rem;
    color: white;
    background-color: green;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        filter: brightness(1.2);
    }
}

.btnCancelar {
    font-size: 0.875rem;
    letter-spacing: inherit;
    text-align: center;
    color: var(--accent-comp);
    background: none;
    border: none;
    cursor: pointer;
    margin-inline: auto;
    transition: var(--transition);

    &:hover {
        filter: brightness(1.2);
    }
}

.skuDuplicado {
    color: #e74c3c;
    font-size: 0.875rem;
    margin: 5px 0 0;
}